<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="'/admin/tabs/products'"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit product</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onUpdateProduct()" [disabled]="!form?.valid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>

  <div *ngIf="isLoading" text-center>
    <ion-spinner color="primary"></ion-spinner>
  </div>

  <form [formGroup]="form" *ngIf="!isLoading">
    <ion-grid>

      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input type="text" autocomplete autocorrect formControlName="name">
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label position="floating">Short Description</ion-label>
            <ion-textarea rows="3" formControlName="description"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <p>Description must be between 1 and 180 characters.</p>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label position="floating">Price</ion-label>
            <ion-input type="number" formControlName="price"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label position="floating">Units in stock</ion-label>
            <ion-input type="number" formControlName="unitsInStock"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label position="floating">Model number</ion-label>
            <ion-input type="text" formControlName="modelNumber"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label position="floating">Model name</ion-label>
            <ion-input type="text" formControlName="modelName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label>Is featured</ion-label>
            <ion-toggle slot="start" formControlName="isFeatured" color="primary" checked></ion-toggle>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label>Supplier</ion-label>
            <ion-select formControlName="supplier">
              <ion-select-option *ngFor="let supplier of suppliers; let i = index;" [value]="i">{{supplier.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-select formControlName="category">
              <ion-select-option *ngFor="let category of categories; let i = index;" [value]="i">{{category.name}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="8" offset-lg="3" offset-sm="2" size-lg="6" offset-md="2" size-md="8">
          <app-image-picker [oldImage]="form.get('image').value" [showPreview]="form.get('image').value"
            (imagePick)="onImagePicked($event)">
          </app-image-picker>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

</ion-content>